<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got your back!</h2>
                <hr class="light">
                <p class="text-faded">Need expertise in building Scalable and Highly Available apps? Need to improve Fault Tolerance or Optimize your existing app? We can help to pinpoint and eliminate the bottlenecks!</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">TALK TO US!</a>
            </div>
        </div>
    </div>
</section>
