<section class="bg-primary" id="careers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Careers</h2>
                <hr class="light">
                <p class="text-faded">Would you like to become part of DevTheory team? We're growing fast and always looking for amazing people to join our team. Currently available opportunities:</p>
                <div class="nav">
                  <a class="nav-link" href="/careers/full-stack-developer.html">Full-Stack Developer</a>
                </div>
            </div>
        </div>
    </div>
</section>
