<section id="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Clients</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="clients-slider">
      <div class="client-slide">
        <img src="img/logos/ibm.png" title="IBM" class="grayscale grayscale-fade" style="height: 55px">
      </div>
      <div class="client-slide">
        <img src="img/logos/canadian_pacific_railway.png" title="Canadian Pacific Railway" class="grayscale grayscale-fade" style="height: 55px">
      </div>
      <div class="client-slide">
        <img src="img/logos/s3s.png" title="Stage 3 Systems" class="grayscale grayscale-fade">
      </div>
      <div class="client-slide">
        <img src="img/logos/blackline_safety.png" title="Blackline Safety" class="grayscale grayscale-fade">
      </div>
      <!-- <div class="client-slide"> -->
      <!--   <img src="img/logos/intelfolio.png" title="intelfolio inc." class="grayscale grayscale-fade" style="height: 70px"> -->
      <!-- </div> -->
      <div class="client-slide">
        <img src="img/logos/spectra_energy.png" title="Spectra Energy" class="grayscale grayscale-fade" style="height: 70px">
      </div>
    </div>
  </div>
</section>
