<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We Specialize In</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary"></i>
                    <h3>Web Applications</h3>
                    <p class="text-muted">We craft our Single Page Apps (Rich Internet Apps) with utter love using RxJS, React, Redux, VirtualDOM</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gears wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Web Services</h3>
                    <p class="text-muted">Services that we build speak fluently in REST. Fear no more since every client app would love to talk to them!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cube wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Data Analytics</h3>
                    <p class="text-muted">Big Data, Data Science, Data Warehouse, Data Cube... no challenge is Big! We're excited as much as you are.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heartbeat wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Optimization</h3>
                    <p class="text-muted">We have zero tolerance for slow apps. Let us breathe life into your apps through Performance Tuning, Optimization and Improving Fault Tolerance.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary"></i>
                    <h3>Refactoring</h3>
                    <p class="text-muted">Legacy is good as long as it's constantly Refactored. We will squash those bugs and untangle that old spaghetti you inherited.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Mentoring</h3>
                    <p class="text-muted">Knowledge is power! We have a passion for sharing it. We will work with your team to make sure you adopt the industry best practices.</p>
                </div>
            </div>
        </div>
    </div>
</section>
